<form action='/' method='POST'>
  <p>
  Your Idea:
  </p>
  <input type='text' name='idea[title]' /><br />
  <textarea name='idea[description]'></textarea><br />
  <input type='submit'/>
</form>