<form action='/' method='POST'>
  <p>
  Your Idea:
  </p>
  <input type='text' name='idea[title]' value="<%= idea.title %>" /><br />
  <textarea name='idea[description]'><%= idea.description %></textarea><br />
  <input type='submit'/>
</form>